@import "./Utils/variables";
@import "./Utils/functions";
@import "./Utils/mixins";
@import "./Utils/animations";

@import "./Base/reset";
@import "./Base/typography";

@import "./Components/likeIcon";
@import "./Components/buttons";
@import "./Components/dropdown";
@import "./Components/lightbox";

@import "./Layout/header";
@import "./Layout/page";
@import "./Layout/footer";
@import "./Layout/loader";

@import "./Pages/index";
@import "./Pages/photographer";


.hide {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}