<!DOCTYPE html>
<html lang="fr">

<head>
  <link href="../css/style.css" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="../assets/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/b84ad8c20e.js" crossorigin="anonymous"></script>
  <title>Fisheye - Photographe </title>
</head>

<body data-page="photographer">
  <header role="banner" class="header">
    <a href="../index.html"><img src="../assets/images/logo.png" class="header__logo" alt="FishEye Homepage"></a>
  </header>
  <main id="main" class="main photographer__main">
    <header class="header photographer__header">
      <div class="photographer__section photographer__section--without-margin"></div>
    </header>

    <div class="dropdown">
      <label id="dropdown__label" class="dropdown__label">Trier par : </label>

      <!-- <select class="dropdown__select">
        <option value="popularite">Popularité</option>
        <option value="date">Date</option>
        <option value="titre">Titre</option>
      </select> -->

      <!-- <div class="dropdown__select">
        <input type="radio" name="sort" id="popularity" value="popularity" checked>
        <label for="popularity">Popularité</label>
        <input type="radio" name="sort" id="date" value="date">
        <label for="date">Date</label>
        <input type="radio" name="sort" id="title" value="title">
        <label for="title">Titre</label>
      <div> -->
       
      <div class="dropdown__list-container">
        <ul class="dropdown__list" role="button" aria-expanded="false">
          <li role="listbox" aria-labelledby="dropdown__label" id="dropdown__selected" class="dropdown__list-item dropdown__selected" tabindex="0"
            data-value="popularity" data-text="Popularité" aria-label="popularity">
            <span class="dropdown__placeholder dropdown--text-style">Popularité</span>
            <span class="fa-solid fa-chevron-down dropdown__chevron dropdown--text-style"></span>
          </li>
          <li class="dropdown__list-item dropdown__list-item--border-top dropdown--text-style hide" tabindex="0" aria-label="date" data-value="date"
            data-text="Date"> Date </li>
          <li class="dropdown__list-item dropdown__list-item--border-top dropdown--text-style hide" tabindex="0" aria-label="title" data-value="title"
            data-text="Titre"> Titre </li>
        </ul>
      </div>
    </div>

    <section class="media__section"></section>
    <div id="contact_modal">
      <div class="modal">
        <header class="header">
          <h2 class="h2">Contactez-moi</h2>
          <img src="../assets/icons/close.svg" alt="close cross" onclick="closeModal()">
          <span>
            <div></div>
          </span>
        </header>
        <form class="photographer-form">
          <div>
            <label>Prénom</label>

          </div>
          <button class="contact_button">Envoyer</button>
        </form>
      </div>
    </div>
    



  </main>
  <footer>

  </footer>
  <script src="../dist/bundle.js"></script>
</body>

</html>