<!DOCTYPE html>
<html lang="fr">

<head>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../assets/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b84ad8c20e.js" crossorigin="anonymous"></script>
    <title>Test Modal</title>
</head>
<body>
    <button class="js-modal" data-modal="testmodal">Open Modal</button>

    <aside id="testmodal" class="modal" aria-hidden="true" role="dialog" aria-labelledby="modal-title" style="display: none;">
        <button class="js-modal-close">Close Modal</button>
        <h1 id="modal-title" >Je suis le titre de la modal</h1>

    </aside>
    <script src="../scripts/utils/modal.js"></script>
</body>
</html>